<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- formulario de contacto-->


<div class="container">
	<div class="row">
	    <div class="col-lg-12">
	   
		<div class="card bg-default mb-3">
    <div class="card-header thin-card-header">
        <div class="card-title">
            <ul class="card-toolbar">
                <li class="float-left">
                    <h4 style="font-family:Poppins, sans-serif"><i class="fa fa-map-marker"></i> Dirección de envio</h4>
                </li>
               
            </ul>
        </div>
    </div>
    <div class="card-body">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="control-label" for="textinput">Nombre</label>
                        <input type="text" placeholder="Nombre" class="form-control">
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="control-label" for="textinput">Apellido</label>
                        <input type="text" placeholder="Apellido" class="form-control">
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="control-label" for="textinput">Direción particular</label>
                        <input type="text" placeholder="Direción particular" class="form-control">
                    </div>
                    <!-- Text input-->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inputState">Región</label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Seleccione región</option>
                                      <option>Arica y Parinacota</option>
                                      <option>Tarapacá</option>
                                      <option>Antofagasta</option>
                                      <option>Atacama</option>
                                      <option>Coquimbo</option>
                                      <option>Valparaiso</option>
                                      <option>Metropolitana de Santiago</option>
                                      <option>Libertador General Bernardo O\'Higgins</option>
                                      <option>Maule</option>
                                      <option>Biobío</option>
                                      <option>La Araucanía</option>
                                      <option>Los Ríos</option>
                                      <option>Los Lagos</option>
                                      <option>Aysén del General Carlos Ibáñez del Campo</option>
                                      <option>Magallanes y de la Antártica Chilena</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="textinput">Código postal</label>
                                <input type="text" placeholder="Código postal" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputState">Comuna</label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Seleccione comuna</option>
                                      <!-- Solo agrego algunas comunas-->
                                      <option>Santiago</option>
                                      <option>San Bernardo</option>
                                      <option>Ancud</option>
                                      <option>Castro</option>
                                </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label">Email to:</label>
                        <input type="text" class="form-control" placeholder="abc@gmail.com" />
                    </div>
                    <div class="form-group">
                          <label class="form-label">Fecha de entrega</label>
                          <input type="date" formControlName="fecha" class="form-control" >
                          <label class="form-label">Hora de entrega</label>
                           <input type="time" formControlName="hora" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones de entrega:</label>
                        <textarea rows="8" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <button type="reset" class="btn btn-default"><i class="fa fa-remove"></i> Limpiar</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar y continuar</button>
                </div>
            </div>
        </form>
    </div>
</div>
	</div>
	</div>
</div>


<!-- Fin formulario de contacto-->


<!--FOOTER-->


<footer class="section footer-classic context-dark bg-dark">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
                src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37"
                srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
            <p>Servicio que ofrece exclusivamente de nuestra tienda a sus clientes para proteger su instrumento y equipos
              de audio desde el momento de la compra.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span
                class="copyright-year">2021</span><span> </span><span>everis</span><span>. </span><span>All Rights
                Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>direccion:</dt>
            <dd>Avenida siempre viva, 1212</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">emusica@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>telefono de contactos:</dt>
            <dd><a href="tel:#">5555-5555</a> <span>or</span> <a href="tel:#">7777-7777</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Links</h5>
          <ul class="nav-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="#"><span
            class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span
            class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a>
      </div>
      <div class="col"><a class="social-inner" href="#"><span
            class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>