<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
   
    <br>
       
    <hr>
  
    <div class="row">
        <aside class="col-sm-6" >
            <p>Forma de pago</p>

            <article class="card">
                <div class="card-body p-5">
                    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="">
                                <i class="fa fa-credit-card"></i> Tarjeta de credito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="">
                                <i class="fab fa-paypal"></i> Paypal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="">
                                <i class="fa fa-university"></i> Bank Transfer</a>
                        </li>
                    </ul>
                    <p class="alert alert-success">Ingreso de tarjeta de credito</p>

                    <form >
                        <div class="form-group">
                            <label for="username">Nombre titular</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" placeholder="" required="">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="form-group">
                            <label for="cardNumber">Número de tarjeta</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                </div>
                                <input type="text" class="form-control" name="cardNumber" placeholder="">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Fecha de expiracion</span> </label>
                                    <div class="form-inline">
                                        <select class="form-control" style="width:45%">
                                            <option>MM</option>
                                            <option>01 - Enero</option>
                                            <option>02 - Febrero</option>
                                            <option>03 - Marzo</option>
                                        </select>
                                        <span style="width:10%; text-align: center"> / </span>
                                        <select class="form-control" style="width:45%">
                                            <option>YY</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label data-toggle="tooltip" title=""
                                        data-original-title="3 digits code on back side of the card">CVV <i
                                            class="fa fa-question-circle"></i></label>
                                    <input class="form-control" required="" type="text">
                                </div> <!-- form-group.// -->
                            </div>
                        </div> <!-- row.// -->
                        <button class="subscribe btn btn-primary btn-block" type="button"> Agregar tarjeta </button>
                    </form>
                </div> <!-- card-body.// -->
            </article> <!-- card.// -->


        </aside> <!-- col.// -->


        <aside class="col-sm-6">
            <p>Total de compras</p>

            <article class="card">
                <div class="card-body p-5">

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-tab-card">
                            <h2 class="text-center">Total a pagar</h2>
                            <form role="form">
                                <div class="form-group">
                                    <p> Estimado Sr: {{datosCliente.apellido}}</p>
                                    <p> Direccion envio: {{datosCliente.direccion}} </p>
                                    <p> Fecha de entrega: {{datosCliente.fecha}}</p>
                                    
                                    
                                    <p> Cantidad de productos: {{cantidad}}</p>
                                      <br>
                                      <p>Precio a pagar {{total}}</p>  
                                    
                                   

                                </div> <!-- form-group.// -->



                                <button class="subscribe btn btn-primary btn-block" type="button"> Confirmar pago
                                </button>
                            </form>
                        </div> <!-- tab-pane.// -->
                       

                    </div> <!-- tab-content .// -->

                </div> <!-- card-body.// -->
            </article> <!-- card.// -->


        </aside> <!-- col.// -->
    </div> <!-- row.// -->

</div>
<!--container end.//-->

<br>
<!--FOOTER-->


<footer class="section footer-classic context-dark bg-dark">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
               
                srcset=""></a>
            <p>Servicio que ofrece exclusivamente de nuestra tienda a sus clientes para proteger su instrumento y equipos
              de audio desde el momento de la compra.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span
                class="copyright-year">2021</span><span> </span><span>everis</span><span>. </span><span>All Rights
                Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>direccion:</dt>
            <dd>Avenida siempre viva, 1212</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">emusica@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>telefono de contactos:</dt>
            <dd><a href="tel:#">5555-5555</a> <span>or</span> <a href="tel:#">7777-7777</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Listado de productos</h5>
          <ul class="nav-list">
            <li><a href="#">Guitarras</a></li>
            <li><a href="#">Pedales</a></li>
            <li><a href="#">Amplificadores</a></li>
            <li><a href="#">Cuerdas</a></li>
            <li><a href="#">Pianos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="#"><span
            class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span
            class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a>
      </div>
      <div class="col"><a class="social-inner" href="#"><span
            class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>